.pagination {
  width: 70%;
  margin: 0 auto;
}
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}
.item {
  padding: 10px;
  border: 2px solid #4e598c;
  cursor: pointer;
}
