.chart {
    height: 50vh;
    display: flex;
}
.canvas {
    background: white;
    padding: 20px;
}
.details {
    margin-left: 5%;
    padding: 20px;
    background-color: white;
    height: fit-content;
    width: 170px;
}
@media screen and (max-width: 1170px) {
    .chart {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        height: fit-content
    }
    .canvas {
        max-width: 100%;
    }
    .details {
        margin-top: 20px;
        display: flex;
        width: 92%;
        margin: 20px 0 0;
        padding: 10px;
        justify-content: space-around;
        p {
            margin-left: 5px;
        }
        p:last-child {
            margin-left: 0;
        }
    }
}